default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: user_name
  password: user_password

development:
  <<: *default
  database: passion_api_dev

test:
  <<: *default
  database: passion_api_test

production:
  <<: *default
  database: passion_api_production
